@import 'nib'

html {
    height: 100%;
}
body {
    // -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="'+getVersionedAsset('/img/bg.jpg')+'", sizingMethod="scale")';
    background: url(getVersionedAsset('/img/bg.jpg'));
    background-color: #777;
    background-size: cover;
    font-family: roboto, arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    min-height: 100%;
    min-width: 80em;
    -ms-behavior: url(getVersionedAsset('/vendor/backgroundsize.min.htc'));
    position: relative;
    text-align: center;
    text-size-adjust: 100%;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 1.66em;
    width: 80em;
}
#header {
    background-color: #000;
    background-color: rgba(#000, .7);
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .24);
    color: #fff;
    height: 9.66em;
    padding-top: 3.8em;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
    h1 {
        float: left;
        font-size: 2.66em;
    }
    ul {
        float: right;
        font-size: 2em;
    }
    li {
        display: inline-block;
        vertical-align: middle;
    }
    li + li {
      margin-left: 1em;
    }
}
#footer {
    background-color: #000;
    background-color: rgba(#000, .8);
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    height: 7.08em;
    padding-top: 3em;
    position: absolute;
    width: 100%;
    p {
        font-size: 1.33em;
    }
}
#main {
    color: #333;
    padding: 7em 0 16em;
}
.page {
    background-color: #fefefe;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 5px 5px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    display: inline-block;
    padding: 3em 3.5em 3.17em;
    text-align: left;
    width: 67.83em;
    .pageImage {
        background-color: rgb(1,6,15);
        display: inline-block;
        float: left;
        margin-right: 2.5em;
        img {
            box-shadow: 2px 2px 0 rgba(0,0,0,.3);
            border: 1px solid #3C6265;
            display: block;
            min-height: 16.66em;
            width: 18.75em;
        }
    }
    .contents {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        width: 100%;
    }
    h2 {
        font-size: 2.66em;
        line-height: 1em;
        margin-bottom: .75em;
    }
    h3 {
        font-size: 1.83em;
        line-height: 1.3em;
        margin-bottom: .5em;
    }
    h4 {
        font-size: 1.3em;
        line-height: 1em;
        margin-bottom: .4em;
    }
    textarea,
    input {
        border: 1px solid rgb(204,204,204);
        font-size: 1.1em;
        font-weight: 500;
        padding: 0.3em;
        width: 20em;
        margin-bottom: 0.9em;
    }
    input {
        height: 2em;
    }
    p {
        font-size: 1.4em;
        margin-bottom: 1em;
        line-height: 1.3em;
    }
    p:last-child {
        margin: 0;
    }
    a {
        font-weight: 700;
        text-decoration: underline;
    }
}
.ctaBtn {
    background-color: #00CC66;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.68);
    color: #fff;
    font-size: 1.33em;
    font-weight: 500;
    padding: .7em .8em;
    margin-top: 1em;
    text-decoration: none !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.ctaBtn:active {
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    position: relative;
    top: 1px;
}
#frontPage {
    h2 {
        margin-top: .15em;
    }
}
#aboutPage {
    .pageImage {
        margin-right: 2.2em;
    }
}
#contactPage {
    h2 {
        margin-bottom: .6em;
    }
    p {
        font-size: 1.1em;
        margin-bottom: 1.4em;
    }
    .statusText {
        font-size: 1.1em;
        margin-left: 0.9em;
    }
}