{% extends 'single-page.html' %}

{% block post %}
    <div id="aboutPage">
        <span class="contents">
            <h2>About/Bio of Rob Graeber</h2>
            <span class="pageImage">
                <img src="[[ getVersionedAsset('/img/profile.png') ]]" alt="Profile Image"/>
            </span>
            <p>
                Rob Graeber, also known as God's gift to man, is an executive software engineer and badass game developer.
                World renown for his industry-leading Effing Worms and Stick Badminton franchises, Rob Graeber’s games
                have received over 500 million plays and received countless awards. Developing games since a very young age,
                Rob Graeber incorporated Effing Games in 2011. Rob Graeber has developed over 12 original titles, grossing over
                $300k while still in college. Ultimately, Rob Graeber was awarded a Bachelors of Science; Environmental Economics
                from UC Berkeley in 2012.
            </p>
            <p>
                Having mastered the gaming industry, Rob Graeber shifted his interests towards tech. In 2013, Rob Graeber developed
                QuantTrader, a Java-based stock backtesting and analysis application, to test his personal trading strategies. And
                when that got boring, Rob Graeber enrolled into the Hack Reactor curriculum to hone his technical skills and work with 
                interesting people. Ultimately, Rob Graeber took a synergistic position with Rally Health to make healthcare more
                accessible for end consumers.
            </p>
            <p>
                When Rob Graeber’s not developing games, he likes to solve world hunger with free food for all.
            </p>
        </span>
    </div>
{% endblock %}