{% extends 'single-page.html' %}

{% block post %}
    <div id="frontPage">
        <span class="contents">
            <span class="pageImage">
                <img src="[[ getVersionedAsset('/img/profile.png') ]]" alt="Profile Image"/>
            </span>
            <h2>Rob Graeber</h2>
            <h3>Currently: Software Engineer @ Rally Health</h3>
            <h3>Formerly: Founder/Developer @ Effing Games</h3>
            <a class="ctaBtn" href="[[ linkTo('contact') ]]">Contact Me</a>
        </span>
    </div>
{% endblock %}