{% extends 'single-page.twig' %}

{% block post %}
    <div id="frontPage">
        <span class="contents">
            <span class="pageImage">
                <img src="{{ getVersionedAsset('/img/profile.png') }}" alt="Profile Image"/>
            </span>
            <h1>Rob Graeber</h1>
            <h2>Currently: Sr. Software Engineer @ <a href="http://www.rallyhealth.com">Rally Health</a></h2>
            <h2>Formerly: Founder/Developer @ <a href="http://www.effinggames.com">Effing Games</a></h2>
            <a class="ctaBtn" href="{{ linkTo('contact') }}">Contact Me</a>
        </span>
    </div>
{% endblock %}
